.dep
*.o
*.eep
*.elf
*.hex
*.lss
*.lst
*.map
*.sym
tags
*~
build/
*.bak
*-backups/
*.lck
./TinyBoard/obj_*
fp-info-cache
schematics/40 Keyboard.kicad_prl
schematics/rev2/40 Keyboard.kicad_prl
schematics/40 Keyboard.kicad_prl
